<h2>Bem vindo ao seu board de Fictional Characters da Marvel</h2>
<form id="get-character-info" autocomplete="off">
    <label for="search">Escolha um Character</label><br>
    <input class="main-search-field" type="search" name="search" placeholder="por favor, aguarde enquanto carregamos o conteúdo..." disabled/><br>
    <ul class="all-characters"></ul><!-- end all-characters -->
    <input type="submit" name="action" value="Obter informaçoes do Character" />
</form>
<div class="character-info"></div>