<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Comic characters Marvel App</title>
</head>
<body>
    <div class="container">
        
            <h4>Usuáro: <%= user[0].name %></h4>
            <span>Username: <%= user[0].username%></span><br>
            <span>Username: <%= user[0].email%></span><br>
            <span>Senha: <%= user[0].password%></span>
    </div>
</body>
</html>