<div class="sign-up-wrap">

    <form id="update-form" onsubmit="updateUser(event)" autocomplete="off">

        <label for="name">Nome:</label><br>
        <input required type="text" name="name" /><br>

        <label for="username">Nome de usuário:</label><br>
        <input required type="text" name="username"><br>
        <label required for="email">Email:</label><br>
        <input type="text" name="email"><br>

        <label for="password">Nova Senha (deixa em branco se quiser manter a atual):</label><br>
        <input type="text" name="password"><br>
        <input type="submit" name="action" value="Atualizar usuário" />

    </form><!-- end form -->

</div><!-- end sign-up -->
